<%= form_for([@blog, @blog.comments.build]) do |f| %>
	<span>Your Name:</span>
	<%= f.text_field :name, class: 'form-control' %><br>
	<span>Your Comments</span>
	<%= f.text_area :body, class: 'form-control' %>
	<br>
	<%= f.submit class: 'btn btn-primary' %>
<% end %>