 <div class="how_it_works">
	<div class="container">
		<h3 class="style_title">About Us</h3>
			<div class="row">
			<div class="col-md-8">
			<h2>Maecenas vitae fermentum sapien</h2>
				<p>
					Etiam at consequat ex, ac tempus nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut laoreet ex diam, id aliquet metus hendrerit et. Suspendisse euismod gravida vestibulum. Maecenas vitae fermentum sapien. Proin lobortis, ipsum pellentesque rhoncus condimentum, lectus nisl blandit tortor, molestie iaculis justo eros sit amet dolor. Nunc lacus enim, gravida ac orci et, porta euismod lectus. 
				</p>
				<address>
					Copyright <a href="mailto:example@example.com">Dejan</a>.<br> 
					Visit us at:<br>
					Example.com<br>
					example, Lorem<br>
					RS
					</address>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46689.31717490744!2d21.913282376283036!3d42.99760106206057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475582b263712f39%3A0xd1b3351095c80638!2sLeskovac!5e0!3m2!1sen!2srs!4v1502472990357" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="col-4">
				<%= image_tag 'bg.jpeg', class: 'img-fluid', alt: '' %>
			</div>



			</div>
	</div>
</div>